//dependencias 
@use '..//config/variables';


// config padrao do button
.product-button {
  display: block;
  padding: 8px 0;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color:variables.$CorSecundaria;
  cursor: pointer;
  &:hover {
    background-color:variables.$CorBtnHouver;
  }
}
